[submodule "baseContextLibrary"]
	path = baseContextLibrary
	url = https://niyueming@github.com/niyueming/baseContextLibrary.git
[submodule "changeSkinLibrary"]
	path = changeSkinLibrary
	url = https://niyueming@github.com/niyueming/changeSkinLibrary.git
[submodule "permissionLibrary"]
	path = permissionLibrary
	url = https://niyueming@github.com/niyueming/permissionLibrary.git
[submodule "styleLibrary"]
	path = styleLibrary
	url = https://niyueming@github.com/niyueming/styleLibrary.git
[submodule "changeSkinImplLibrary"]
	path = changeSkinImplLibrary
	url = https://niyueming@github.com/niyueming/changeSkinImplLibrary.git
[submodule "APHBaseContextLibrary"]
	path = APHBaseContextLibrary
	url = https://git.oschina.net/nym/APHBaseContextLibrary.git
